---
---

@import 'normalize';
@import 'gridism';
@import 'markdown';
@import 'variables';
@import 'anims';

html, body{
	font-family: Roboto,Arial,sans-serif;
	background-color: #eee;
	text-align: left;
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content{
	h3{
		padding: 0.3em 0;
		font-style: normal;
	}
	.button{
		color: #fff;
	}
}


.wrap .grid,
.grid.wrap {
	max-width: $body-width;
	margin: 0 auto;
}

.wrap {
	min-height: 100%;
	margin: 0 auto (-$footer-height);
}

footer {
	border-top: 1px solid #ccc;
	padding-top: 1.0em;
	text-align: center;
	font-size: 0.75em;
}

.push, footer {
	margin: 0;
	height: $footer-height;
}

footer > p {
  margin: 0;
}

a {
	color: #9f9f9f;
	transition: .2s ease-in all;
}

.site-title{
	margin: 0;
	font-size: 2em;
	text-align: center;
}

nav ul,
.themelist,
.gallery {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

p {
	font-size: 0.9em;
}

.theme-entry {
	display: block;
	padding: 2em 0em;
}

.theme-thumbnail * {
	padding: 0;
	margin: 0;
}

.gallery {
	padding: 0;
	margin: 0;
}

.theme-thumbnail,
.thumbnail-wrap,
.thumbnail-wrap > img {
	float: left;
	width: $thumbnail-width;
	height: $thumbnail-height;
	-moz-box-shadow:    0px 0px 6px 0px #ccc;
	-webkit-box-shadow: 0px 0px 6px 0px #ccc;
	box-shadow:         0px 0px 6px 0px #ccc;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.theme-description {
	padding: 0.5em 0.5em 0.5em 1.0em;
	height: $thumbnail-height;
	margin-left: $thumbnail-width;
}

.download {
	background-color: $button-color;
	color: $button-text-color;
	padding: 0.1em 0.4em;
	margin: 0.0em 0.2em;
	font-size: 0.8em;
}

.download:hover {
	text-decoration: none;
}

.theme-description > h2 {
	margin-top: 0em;
}

.thumbnail-wrap {
	width: $thumbnail-width;
	height: $thumbnail-height;
	background: url("/img/thumb-hover.png");
}

.thumbnail-wrap > img {
	cursor: pointer;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.thumbnail-wrap > img:hover {
	opacity: 0.15;
}

.android {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 0px;
	margin: 10px 10px 0px 0px;
	border: 1px solid #ccc;
	z-index: 100;
	background: #fff;
	-webkit-box-shadow: -4px 4px 10px #898989;
	-moz-box-shadow: -4px 4px 10px #898989;
	box-shadow: -4px 4px 10px #898989;
	border: none;

	ul{
		display: none;
	}

	&.active-menu{
		min-width: 200px;

		ul {
			display: block;
		}
		.opener{
			color: #08c;
		}
	}
	.clear-opener{
		clear: right;
	}

	a{
		text-decoration: none;
		color: #4C4B4B;
		&.opener {
			display: inline-block;
			min-width: 40px;
			min-height: 40px;
			font-weight: bolder;
			text-align: center;
			float: right;
			transform: rotate(90deg);
		}
		&:hover {
			background-color: #E7E7E7;
		}
	}

	li {
		a {
			display: block;
			padding: 8px;
		}
	}
}

.main-nav {
	overflow: auto;
	padding: 0;
	margin: 0;
	background-color: $nav-back-color;

	ul{
		display: inline-block;
	}
	li{
		position: relative;
		display: inline-block;
		padding: 0;
		margin-right: -4px;
		a{
			display: block;
		}
	}
	a{
		padding: 15px 20px;
		border-bottom: 4px solid transparent;
		color: #ddd;
		text-decoration: none;

		&:hover{
			background-color: darken($nav-back-color, 10%);
			border-bottom: 4px solid #1AC9DB;
		}
	}
}

.about{
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 2px #B1B1B1;
	box-shadow: 0px 1px 2px #B1B1B1;
	border-radius: $border-radius;
	p{
		margin: 0;
	}
	img{
		max-width: 300px;
		width: 100%;
	}
}

.links{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			margin-bottom: 1px;
			text-align: center;
			a{
				display: block;
				padding: 4px;
				color: #fff;
				text-decoration: none;
				background-color: #333;
			}
		}
	}

code {
	background-color: #dbdbdb;
	color: #000;
	padding: 0 3px;
	word-break: break-all;
}

.paginator {
	text-align: center;
	font-size: 0.8em;

	margin-bottom: 2em;

	a {
		display: inline-block;
		padding: 4px 4px;
		margin: 0px 8px;
		background: $button-color;
		color: $button-text-color;
		text-decoration: none;
		box-sizing: border-box;
		border-radius: 4px;
		border: 1px solid transparent;

		&:hover {
			border: 1px solid #ccc;
		}
	}
	.next::after, .next:after{
		content: "»";
	}
	.previous::before, .previous:before{
		content: "«";
	}

}

// .tags {
// 	font-size: 0.7em;
// 	padding: 4px 0px;
// 	border-bottom: 1px solid #ccc;

// 	span {
// 		display: inline-block;
// 		padding: 0px 4px;
// 		background: #CFE9FA;
// 		border: 1px solid #0B5485;
// 		border-radius: 2px;
// 		color: #0B5485;
// 	}
// }

@media screen and (max-width: 720px) {
	.content{
		margin-top: tpx;
	}

	.site-title{
		font-size: 2em;
	}

	.main-nav {
		position: fixed;
		top: 5px;
		right: 10px;
		margin: 0px;
		z-index: 100;
		background: #fff;
		-webkit-box-shadow: -4px 4px 10px #898989;
		-moz-box-shadow: -4px 4px 10px #898989;
		box-shadow: -4px 4px 10px #898989;
		border: none;
		overflow: hidden;

		ul{
			display: none;
		}

		&.active-menu{
			min-width: 200px;
			border-radius: 2px;
			@include animation(menuShow 0.3s);
			-webkit-animation-timing-function: ease-out;
			-o-animation-timing-function: ease-out;
			animation-timing-function: ease-out;

			ul {
				display: block;
			}
			.opener{
				color: #08c;
			}
		}
		.clear-opener{
			clear: right;
		}

		a{
			text-decoration: none;
			color: #4C4B4B;
			padding: 0px;
			border: none;
			&.opener {
				display: inline-block;
				min-width: 40px;
				min-height: 40px;
				font-weight: bolder;
				text-align: center;
				float: right;
				transform: rotate(90deg);
				&:hover{
					color: #08c;
					background-color: #fff;
				}
			}
			&:hover {
				background-color: #E7E7E7;
				border: none;
			}
		}

		li {
			display: block;
			margin: 0px;
			a {
				display: block;
				padding: 8px;
				border: none;
				color: #4C4B4B;
			}
		}
	}

	.post {
		h1{
			font-size: 1.5em;
		}
	}

	.theme-thumbnail {
		float: none;
		display: block;
		margin: 0 auto;
		width: $thumbnail-width;
	}

	.theme-description {
		display: block;
		margin: 1em auto;
		height: auto;
		width: $thumbnail-width;
	}

	.theme-entry {
		display: block;
		padding: 1em 0em;
	}

	.center-list-view {
		margin: 1em auto;
		margin-bottom: 3em;
		width: $thumbnail-width;
	}
}

@media print {
	.main-nav{
		display: none;
	}
	.site-title{
		font-size: 2em;
	}
	article{
		footer{
			display: none;
		}
	}
	a.sharer{
		display: none;
	}
}
