<header>
<h1 class="site-title"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="{{ site.baseurl }}/"><i></i>Layouts</a></li>
        <li><a href="{{ site.baseurl }}/icon-sets/"><i></i>Icon Sets</a></li>
        <li><a href="{{ site.baseurl }}/submit/"><i></i>Submit</a></li>
        <li><a href="{{ site.baseurl }}/help/"><i></i>Help</a></li>
      </ul>
    </div>
  </nav>
</header>
