$color-scheme-black: #333838;
$color-scheme-white: #ffffff;

$body-width: 960px;
$padding-left: 5px;
$nav-back-color: $color-scheme-black;
$button-color: $color-scheme-black;
$button-text-color: $color-scheme-white;
$single-post-padding: 5px;
$border-radius: 4px;

$thumbnail-width: 400px;
$thumbnail-height: 200px;
